body h1{
  width: 550px;
  margin: auto;
  text-align: center;
}
.search-flickr-form {
  margin: auto;
  width:  550px;
}

.search-flickr-form .form-group input{
  width: 400px;
}

.search-flickr-btn{
  width: 100px;
}
